<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<servlet>
	<!-- CONFIGURATION PARAMETERS -->

	<!--SERVLET MAPPING-->
	<servlet-name>FrontServlet</servlet-name>
	<servlet-class>exposedPkg.ExposedServlet</servlet-class>
</servlet>
<servlet-mapping>
	<!--SERVLET URL MAPPING-->
	<servlet-name>FrontServlet</servlet-name>
	<!-- The wildcard * maps everything of myProduct to the where i want to go -->
	<url-pattern>/*</url-pattern>
</servlet-mapping>
</web-app>

